body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    float: center;
    margin: auto;
    list-style-type: none;
  }
  .board-row {
      display: inline;
      margin: auto;
  }

  .board-row::after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    width: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game-board {
    flex-direction: row;
    margin: auto;
    float: center;
    max-width: 102px;
  }


  
  .game-info {
    margin: auto;
  }
  